/* Reset and Global Styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Marcellus", serif;
    font-weight: 400;
    font-style: normal;
}

/* Header and nav bar */
header {
    background-color: #3a076e;
    display: grid;
    grid-gap: 1rem;
    padding: 20px;
    border: 1px solid #3a076e;
}

header, main {
    margin: 0 auto;
    max-width: 1000px; /* Adjust max-width as needed */
}

h1 {
    font-size: 3rem;
    color: #eaeaea;
}

nav {
    background-color: #3a076e;
    margin: 1rem auto;
    text-align: center; /* Center align nav items */
}

nav ul {
    list-style: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin-right: 1rem;
}

nav ul li a {
    color: #eaeaea;
    text-decoration: none;
}

/* Main Content with Gallery */
main {
    margin: 1rem auto;
    max-width: 1000px; /* Adjust max-width as needed */
}

.temple-list {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 1rem;
}

.temple-card {
    border: 1px solid #ccc;
    padding: 1rem;
    text-align: center;
}

.temple-card img {
    width: 100%;
    height: auto;
}

.temple-card h3 {
    margin-top: 0.5rem;
}

.temple-card p {
    margin: 0.5rem 0;
}

/* Footer */
footer {
    display: grid;
    align-items: center;
    justify-content: center;
    background-color: rgb(58, 7, 110);
    color: #ffffff;
    font-size: 20px;
    padding: 1rem;
}
